[Unit]
Description=AList TelDrive 目录自动刷新服务
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/openlistRefresh
ExecStart=/opt/openlistRefresh/myenv/bin/python /opt/openlistRefresh/openlistrefresh.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
